
:root{
    --mainRed:#E5233F;
}
@font-face {
    font-family: 'TitilliumWeb-Black';
    src: local('TitilliumWeb-Black'), url(./assets/fonts/TitilliumWeb-Black.ttf) format('truetype');
  }
.app{
    font-family: 'Titillium Web', sans-serif;
    font-weight:400;
}
a{
    font-family: 'Titillium Web', sans-serif;
}
li,p,h3,h1.h2,h4,h5,h6{
    font-family: 'Titillium Web', sans-serif;
}
