#banner {

  background-image: url('./banner.png');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 600px;

}

.top-menu {
  display: block;
  align-items: center;
  margin-left: 70px;
  user-select: none;
  align-content: center;
  border-bottom: 60px solid rgb(255, 255, 255);
  border-left: 50px solid transparent;
  border-right: 0px solid white;
  border-top: 50px solid transparent;
  height: 10vh;
  z-index: 0;

}

/* Style the links inside the navigation bar */
.top-menu a:first-child {
  position: absolute;
  margin-top: -10px;
}

.top-menu a:nth-child(2) {
  margin-left: 170px;
}

.top-menu a:not(:first-child) {
  margin-top: 10px;
}

.top-menu a {
  float: left;
  display: block;
  color: #dd6617;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 14px;
  position: relative;

}

/* Change the color of links on hover */
.top-menu a:not(:first-child):hover {
  background-color: #222;
  color: white;
  text-decoration: none;
}

.clear-fix {
  clear: both;
}

.top-menu .top-menu-icon {

  font-size: 30px;

  display: none;

}

.pageBody {
  width: 80%;
  line-height: 20px;
  font-size: 14px;
  font-weight: bold;
  text-align: justify;
  margin: auto;
  margin-top: 10vh;
}

@media screen and (min-width: 1000px) {
  .top-menu a:nth-child(2) {
    margin-left: 30%;
  }

  .top-menu a {
    font-size: 16px;
  }
}

@media screen and (max-width: 600px) {
  .top-menu a:not(:first-child) {
    display: none;
  }

  .top-menu a:nth-child(2) {
    margin-left: 0px;
    margin-top: 8em !important;
  }

  .logo {
    width: 80%;

  }

  .top-menu a:not(:first-child):hover {
    background-color: white;
    color: #dd6617;
    text-decoration: none;
  }

  .top-menu a:first-child {
    position: absolute;
  }

  .top-menu .top-menu-icon {
    float: right;
    display: block !important;
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 75px;
    margin-right: 8px;
    font-size: 20px;
  }

  .top-menu a {
    /* margin-top:20px; */
    margin-top: -5px !important;
    display: block;
    text-align: left;
    margin-right: 15px;
    color: white;
    font-size: 10px;
  }

}

@media screen and (max-width: 600px) {

  .top-menu .toggled .top-menu-icon {
    position: absolute;
    right: 0;
    top: 0;
    color: black;
    margin-top: 60px;

  }

  .top-menu.left {
    background-color: orange;
  }

  .top-menu.toggled a {
    float: none;
    display: block;
    text-align: left;


  }

  .top-menu a {
    margin-top: 0px;
    float: none;
    display: block;
    text-align: left;
  }
}
